List Of Question:
# **MODULE 4 DAY 2 QUIZ**

# Group 1 & 2
Which country has the lowest death caused by nutrition in 2019? Indonesia

Which country has the highest rate of diabetes prevalence in 2021? Rusia

How much is the working age population of Mali in 2020? 

How many Indonesian adults (age 15+) are living with HIV in 2020? 

Which country has the lowest rate of literacy in 2020? Mexico

# Group 3 & 4
Which country has the highest total fertility rate in 2019? 

Which country has the lowest rate of diabetes prevalence in 2021? 

Which country has the lowest prevalence of overweight adults in 2016? 

How many Indonesian children (age <15) are living with HIV in 2020? 

Which country has the highest probability of dying per 1000 among adolescents ages 5-9 years in 2020? 

# Group 5 & 6
Which country has the lowest total fertility rate in 2019? 

Which country has 98% of their pregnant women receiving prenatal care in 2017? 

Which country has the highest prevalence of overweight adults in 2016? 

Which country is more likely to have a measles outbreak due to the lowest rate of immunization in 2019?

How much female age at first marriage in Slovenia, in 2018? 

# Group 7 & 8
Which country has the highest rate of mortality by road traffic injury in 2019?

Which country has 67% of their pregnant women receiving prenatal care in 2018? 

How much is the prevalence of overweight adults in the United States, in 2016?

Which country is more likely to have TBC due to the lowest rate of immunization in 2019? 

Which country has the average age of female at first marriage lower than 20 years old in 2016? 

# Group 9 & 10

Which country has the highest rate of mortality by road traffic injury in 2019? 

How much is the working age population of Qatar in 2020? 

How much is the prevalence of overweight adults in Indonesia, in 2016? 

Which country has the highest rate of literacy in 2020? 

How much is the average female age at first marriage in Indonesia, in 2017?

In [1]:
import pandas as pd

In [2]:
!wget https://cdn.discordapp.com/attachments/951132539878273095/961101693397921892/HNP_StatsData_2.csv -O HNP_StatsData_2.csv

--2022-04-06 04:23:58--  https://cdn.discordapp.com/attachments/951132539878273095/961101693397921892/HNP_StatsData_2.csv
Resolving cdn.discordapp.com (cdn.discordapp.com)... 162.159.134.233, 162.159.129.233, 162.159.130.233, ...
Connecting to cdn.discordapp.com (cdn.discordapp.com)|162.159.134.233|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61967406 (59M) [text/csv]
Saving to: ‘HNP_StatsData_2.csv’

HNP_StatsData_2.csv 100%[===================>]  59.10M   222MB/s    in 0.3s

2022-04-06 04:23:59 (222 MB/s) - ‘HNP_StatsData_2.csv’ saved [61967406/61967406]

In [3]:
df = pd.read_csv("HNP_StatsData_2.csv")

In [17]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,140.120535,140.594564,141.128109,141.32344,141.50816,141.668896,...,103.391461,101.541782,99.719799,97.916601,96.146492,94.695223,93.231944,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Africa Eastern and Southern,AFE,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Eastern and Southern,AFE,Adults (ages 15+) living with HIV,SH.DYN.AIDS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,Adults (ages 15-49) newly infected with HIV,SH.HIV.INCD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (67) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.info()

In [19]:
df.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
count,3.775300e+04,3.830500e+04,3.888000e+04,3.844000e+04,3.849000e+04,3.865100e+04,3.859500e+04,3.911900e+04,3.870900e+04,3.879200e+04,...,7.110800e+04,7.242900e+04,7.305000e+04,7.290300e+04,7.195600e+04,7.138300e+04,6.706600e+04,5.096700e+04,1053.000000,0.0
mean,4.540045e+06,4.533358e+06,4.544542e+06,4.695745e+06,4.789000e+06,4.870422e+06,4.984342e+06,5.022137e+06,5.184691e+06,5.286047e+06,...,6.432346e+06,6.393878e+06,6.611701e+06,6.510822e+06,6.855986e+06,6.811898e+06,7.339221e+06,9.615281e+06,16.754631,NaN
std,5.203548e+07,5.222261e+07,5.269100e+07,5.411997e+07,5.522562e+07,5.630642e+07,5.760651e+07,5.847075e+07,6.007032e+07,6.135198e+07,...,9.624687e+07,9.652161e+07,9.780347e+07,9.847728e+07,1.006917e+08,1.017656e+08,1.061272e+08,1.224863e+08,25.797303,NaN
min,0.000000e+00,-2.498824e+00,-3.990892e+06,-3.206682e+00,-3.078607e+00,-2.978527e+00,-3.072258e+00,-4.268616e+06,-4.415829e+00,-4.644245e+00,...,-6.235155e+00,-6.511772e+00,-5.273713e+00,-4.717856e+00,-1.566444e+07,-5.097307e+00,-5.033885e+00,-4.828524e+00,0.199000,NaN
25%,1.567225e+01,1.337077e+01,1.193098e+01,1.374637e+01,1.376329e+01,1.343180e+01,1.386549e+01,1.251015e+01,1.404947e+01,1.411949e+01,...,9.084990e+00,9.000000e+00,8.720661e+00,8.818541e+00,8.000000e+00,7.744169e+00,8.669261e+00,7.505049e+00,5.227000,NaN
50%,3.634000e+03,3.099000e+03,2.726500e+03,3.171500e+03,3.248000e+03,3.192000e+03,3.346000e+03,3.041000e+03,3.389000e+03,3.418000e+03,...,7.183806e+01,6.950000e+01,6.939646e+01,6.941967e+01,7.171465e+01,6.731638e+01,7.524815e+01,1.000000e+02,7.500000,NaN
75%,8.957300e+04,8.858600e+04,8.774700e+04,9.156875e+04,9.295000e+04,9.408450e+04,9.703850e+04,9.641900e+04,1.010700e+05,1.036630e+05,...,2.766550e+04,2.507300e+04,2.471225e+04,2.437450e+04,2.772025e+04,2.749600e+04,3.852825e+04,1.227410e+05,13.026000,NaN
max,3.032156e+09,3.071596e+09,3.124561e+09,3.189656e+09,3.255146e+09,3.322047e+09,3.392098e+09,3.461620e+09,3.532783e+09,3.606554e+09,...,7.175500e+09,7.261847e+09,7.347679e+09,7.433569e+09,7.519183e+09,7.602454e+09,7.683372e+09,7.761620e+09,115.880577,NaN

In [4]:
df['Country Name'].value_counts()

Africa Eastern and Southern    441
Morocco                        441
Malawi                         441
Malaysia                       441
Maldives                       441
                              ...
Congo, Rep.                    441
Costa Rica                     441
Cote d'Ivoire                  441
Croatia                        441
Zimbabwe                       441
Name: Country Name, Length: 266, dtype: int64

In [5]:
df['Indicator Name'].unique()

array(['Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Adults (ages 15+) and children (0-14 years) living with HIV',
       'Adults (ages 15+) and children (ages 0-14) newly infected with HIV',
       'Adults (ages 15+) living with HIV',
       'Adults (ages 15-49) newly infected with HIV',
       'Age at first marriage, female', 'Age at first marriage, male',
       'Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old', 'Age dependency ratio, young',
       'Age population, age 00, female, interpolated',
       'Age population, age 00, male, interpolated',
       'Age population, age 01, female, interpolated',
       'Age population, age 01, male, interpolated',
       'Age population, age 02, female, interpolated',
       'Age population, age 02, male, interpolated',
       'Age population, age 03, female, interpolated',
       'Age population, age 03, male, interpolated',
       'Age population, age 04, female, interpolated',
       'Age population, age 04, male, interpolated',
       'Age population, age 05, female, interpolated',
       'Age population, age 05, male, interpolated',
       'Age population, age 06, female, interpolated',
       'Age population, age 06, male, interpolated',
       'Age population, age 07, female, interpolated',
       'Age population, age 07, male, interpolated',
       'Age population, age 08, female, interpolated',
       'Age population, age 08, male, interpolated',
       'Age population, age 09, female, interpolated',
       'Age population, age 09, male, interpolated',
       'Age population, age 10, female, interpolated',
       'Age population, age 10, male, interpolated',
       'Age population, age 11, female, interpolated',
       'Age population, age 11, male, interpolated',
       'Age population, age 12, female, interpolated',
       'Age population, age 12, male, interpolated',
       'Age population, age 13, female, interpolated',
       'Age population, age 13, male, interpolated',
       'Age population, age 14, female, interpolated',
       'Age population, age 14, male, interpolated',
       'Age population, age 15, female, interpolated',
       'Age population, age 15, male, interpolated',
       'Age population, age 16, female, interpolated',
       'Age population, age 16, male, interpolated',
       'Age population, age 17, female, interpolated',
       'Age population, age 17, male, interpolated',
       'Age population, age 18, female, interpolated',
       'Age population, age 18, male, interpolated',
       'Age population, age 19, female, interpolated',
       'Age population, age 19, male, interpolated',
       'Age population, age 20, female, interpolated',
       'Age population, age 20, male, interpolated',
       'Age population, age 21, female, interpolated',
       'Age population, age 21, male, interpolated',
       'Age population, age 22, female, interpolated',
       'Age population, age 22, male, interpolated',
       'Age population, age 23, female, interpolated',
       'Age population, age 23, male, interpolated',
       'Age population, age 24, female, interpolated',
       'Age population, age 24, male, interpolated',
       'Age population, age 25, female, interpolated',
       'Age population, age 25, male, interpolated',
       'AIDS estimated deaths (UNAIDS estimates)',
       'Antiretroviral therapy coverage (% of people living with HIV)',
       'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)',
       'ARI treatment (% of children under 5 taken to a health provider)',
       'Birth rate, crude (per 1,000 people)',
       'Births attended by skilled health staff (% of total)',
       'Capital health expenditure (% of GDP)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Cause of death, by injury (% of total)',
       'Cause of death, by non-communicable diseases (% of total)',
       'Children (0-14) living with HIV',
       'Children (ages 0-14) newly infected with HIV',
       'Children orphaned by HIV/AIDS',
       'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)',
       'Community health workers (per 1,000 people)',
       'Completeness of birth registration (%)',
       'Completeness of birth registration, female (%)',
       'Completeness of birth registration, male (%)',
       'Completeness of birth registration, rural (%)',
       'Completeness of birth registration, urban (%)',
       'Completeness of death registration with cause-of-death information (%)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, female (2 prevent ways and reject 3 misconceptions)',
       'Comprehensive correct knowledge of HIV/AIDS, ages 15-49, male (2 prevent ways and reject 3 misconceptions)',
       'Condom use at last high-risk sex, adult female (% ages 15-49)',
       'Condom use at last high-risk sex, adult male (% ages 15-49)',
       'Condom use, population ages 15-24, female (% of females ages 15-24)',
       'Condom use, population ages 15-24, male (% of males ages 15-24)',
       'Consumption of iodized salt (% of households)',
       'Contraceptive prevalence, any method (% of married women ages 15-49)',
       'Contraceptive prevalence, any method (% of sexually active unmarried women ages 15-49)',
       'Contraceptive prevalence, any modern method (% of married women ages 15-49)',
       'Contraceptive prevalence, any modern method (% of sexually active unmarried women ages 15-49)',
       'Current health expenditure (% of GDP)',
       'Current health expenditure per capita (current US$)',
       'Current health expenditure per capita, PPP (current international $)',
       'Death rate, crude (per 1,000 people)',
       'Demand for family planning satisfied by any methods (% of married women with demand for family planning)',
       'Demand for family planning satisfied by modern methods (% of married women with demand for family planning)',
       'Diabetes prevalence (% of population ages 20 to 79)',
       'Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)',
       'Diarrhea treatment (% of children under 5 who received ORS packet)',
       'Domestic general government health expenditure (% of current health expenditure)',
       'Domestic general government health expenditure (% of GDP)',
       'Domestic general government health expenditure (% of general government expenditure)',
       'Domestic general government health expenditure per capita (current US$)',
       'Domestic general government health expenditure per capita, PPP (current international $)',
       'Domestic private health expenditure (% of current health expenditure)',
       'Domestic private health expenditure per capita (current US$)',
       'Domestic private health expenditure per capita, PPP  (current international $)',
       'Exclusive breastfeeding (% of children under 6 months)',
       'External health expenditure (% of current health expenditure)',
       'External health expenditure channeled through government (% of external health expenditure)',
       'External health expenditure per capita (current US$)',
       'External health expenditure per capita, PPP (current international $)',
       'Female headed households (% of households with a female head)',
       'Fertility rate, total (births per woman)',
       'GNI per capita, Atlas method (current US$)',
       'Hospital beds (per 1,000 people)',
       'Human capital index (HCI) (scale 0-1)',
       'Human capital index (HCI), female (scale 0-1)',
       'Human capital index (HCI), female, lower bound (scale 0-1)',
       'Human capital index (HCI), female, upper bound (scale 0-1)',
       'Human capital index (HCI), lower bound (scale 0-1)',
       'Human capital index (HCI), male (scale 0-1)',
       'Human capital index (HCI), male, lower bound (scale 0-1)',
       'Human capital index (HCI), male, upper bound (scale 0-1)',
       'Human capital index (HCI), upper bound (scale 0-1)',
       'Immunization, BCG (% of one-year-old children)',
       'Immunization, DPT (% of children ages 12-23 months)',
       'Immunization, HepB3 (% of one-year-old children)',
       'Immunization, Hib3 (% of children ages 12-23 months)',
       'Immunization, measles (% of children ages 12-23 months)',
       'Immunization, measles second dose (% of children by the nationally recommended age)',
       'Immunization, Pol3 (% of one-year-old children)',
       'Incidence of HIV, ages 15-24 (per 1,000 uninfected population ages 15-24)',
       'Incidence of HIV, ages 15-49 (per 1,000 uninfected population ages 15-49)',
       'Incidence of HIV, ages 50+ (per 1,000 uninfected population ages 50+)',
       'Incidence of HIV, all (per 1,000 uninfected population)',
       'Incidence of malaria (per 1,000 population at risk)',
       'Incidence of tuberculosis (per 100,000 people)',
       'Infant and young child feeding practices, all 3 IYCF (% children ages 6-23 months)',
       'Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)',
       'Labor force, female (% of total labor force)',
       'Labor force, total', 'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Life expectancy at birth, total (years)',
       'Lifetime risk of maternal death (%)',
       'Lifetime risk of maternal death (1 in: rate varies by country)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, adult male (% of males ages 15 and above)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Literacy rate, youth male (% of males ages 15-24)',
       'Literacy rate, youth total (% of people ages 15-24)',
       'Low-birthweight babies (% of births)', 'Malaria cases reported',
       'Maternal leave benefits (% of wages paid in covered period)',
       'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
       'Maternal mortality ratio (national estimate, per 100,000 live births)',
       'Mortality caused by road traffic injury (per 100,000 people)',
       'Mortality caused by road traffic injury, female (per 100,000 female population)',
       'Mortality caused by road traffic injury, male (per 100,000 male population)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)',
       'Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, male (%)',
       'Mortality rate attributed to household and ambient air pollution (per 100,000 population)',
       'Mortality rate attributed to household and ambient air pollution, age-standardized, female (per 100,000 female population)',
       'Mortality rate attributed to household and ambient air pollution, age-standardized, male (per 100,000 male population)',
       'Mortality rate attributed to unintentional poisoning (per 100,000 population)',
       'Mortality rate attributed to unintentional poisoning, female (per 100,000 female population)',
       'Mortality rate attributed to unintentional poisoning, male (per 100,000 male population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene, female (per 100,000 female population)',
       'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene, male (per 100,000 male population)',
       'Mortality rate, adult, female (per 1,000 female adults)',
       'Mortality rate, adult, male (per 1,000 male adults)',
       'Mortality rate, infant (per 1,000 live births)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, infant, male (per 1,000 live births)',
       'Mortality rate, neonatal (per 1,000 live births)',
       'Mortality rate, under-5 (per 1,000)',
       'Mortality rate, under-5, female (per 1,000)',
       'Mortality rate, under-5, male (per 1,000)', 'Net migration',
       'Newborns protected against tetanus (%)',
       'Number of deaths ages 10-14 years',
       'Number of deaths ages 10-19 years',
       'Number of deaths ages 15-19 years',
       'Number of deaths ages 20-24 years',
       'Number of deaths ages 5-9 years', 'Number of infant deaths',
       'Number of infant deaths, female', 'Number of infant deaths, male',
       'Number of maternal deaths', 'Number of neonatal deaths',
       'Number of people pushed below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed below the 60% median consumption poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure',
       'Number of people pushed further below the 60% median consumption poverty line by out-of-pocket health care expenditure',
       'Number of people spending more than 10% of household consumption or income on out-of-pocket health care expenditure',
       'Number of people spending more than 25% of household consumption or income on out-of-pocket health care expenditure',
       'Number of people who are undernourished', 'Number of stillbirths',
       'Number of surgical procedures (per 100,000 population)',
       'Number of under-five deaths',
       'Number of under-five deaths, female',
       'Number of under-five deaths, male',
       'Nurses and midwives (per 1,000 people)',
       'Out-of-pocket expenditure (% of current health expenditure)',
       'Out-of-pocket expenditure per capita (current US$)',
       'Out-of-pocket expenditure per capita, PPP (current international $)',
       'People practicing open defecation (% of population)',
       'People practicing open defecation, rural (% of rural population)',
       'People practicing open defecation, urban (% of urban population)',
       'People using at least basic drinking water services (% of population)',
       'People using at least basic drinking water services, rural (% of rural population)',
       'People using at least basic drinking water services, urban (% of urban population)',
       'People using at least basic sanitation services (% of population)',
       'People using at least basic sanitation services, rural (% of rural population)',
       'People using at least basic sanitation services, urban  (% of urban population)',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed drinking water services, rural (% of rural population)',
       'People using safely managed drinking water services, urban (% of urban population)',
       'People using safely managed sanitation services (% of population)',
       'People using safely managed sanitation services, rural (% of rural population)',
       'People using safely managed sanitation services, urban  (% of urban population)',
       'People with basic handwashing facilities including soap and water (% of population)',
       'People with basic handwashing facilities including soap and water, rural (% of rural population)',
       'People with basic handwashing facilities including soap and water, urban (% of urban population)',
       'Physicians (per 1,000 people)', 'Population ages 00-04, female',
       'Population ages 00-04, female (% of female population)',
       'Population ages 00-04, male',
       'Population ages 00-04, male (% of male population)',
       'Population ages 00-14, total',
       'Population ages 0-14 (% of total population)',
       'Population ages 0-14, female',
       'Population ages 0-14, female (% of female population)',
       'Population ages 0-14, male',
       'Population ages 0-14, male (% of male population)',
       'Population ages 05-09, female',
       'Population ages 05-09, female (% of female population)',
       'Population ages 05-09, male',
       'Population ages 05-09, male (% of male population)',
       'Population ages 10-14, female',
       'Population ages 10-14, female (% of female population)',
       'Population ages 10-14, male',
       'Population ages 10-14, male (% of male population)',
       'Population ages 15-19, female',
       'Population ages 15-19, female (% of female population)',
       'Population ages 15-19, male',
       'Population ages 15-19, male (% of male population)',
       'Population ages 15-64 (% of total population)',
       'Population ages 15-64, female',
       'Population ages 15-64, female (% of female population)',
       'Population ages 15-64, male',
       'Population ages 15-64, male (% of male population)',
       'Population ages 15-64, total', 'Population ages 20-24, female',
       'Population ages 20-24, female (% of female population)',
       'Population ages 20-24, male',
       'Population ages 20-24, male (% of male population)',
       'Population ages 25-29, female',
       'Population ages 25-29, female (% of female population)',
       'Population ages 25-29, male',
       'Population ages 25-29, male (% of male population)',
       'Population ages 30-34, female',
       'Population ages 30-34, female (% of female population)',
       'Population ages 30-34, male',
       'Population ages 30-34, male (% of male population)',
       'Population ages 35-39, female',
       'Population ages 35-39, female (% of female population)',
       'Population ages 35-39, male',
       'Population ages 35-39, male (% of male population)',
       'Population ages 40-44, female',
       'Population ages 40-44, female (% of female population)',
       'Population ages 40-44, male',
       'Population ages 40-44, male (% of male population)',
       'Population ages 45-49, female',
       'Population ages 45-49, female (% of female population)',
       'Population ages 45-49, male',
       'Population ages 45-49, male (% of male population)',
       'Population ages 50-54, female',
       'Population ages 50-54, female (% of female population)',
       'Population ages 50-54, male',
       'Population ages 50-54, male (% of male population)',
       'Population ages 55-59, female',
       'Population ages 55-59, female (% of female population)',
       'Population ages 55-59, male',
       'Population ages 55-59, male (% of male population)',
       'Population ages 60-64, female',
       'Population ages 60-64, female (% of female population)',
       'Population ages 60-64, male',
       'Population ages 60-64, male (% of male population)',
       'Population ages 65 and above (% of total population)',
       'Population ages 65 and above, female',
       'Population ages 65 and above, female (% of female population)',
       'Population ages 65 and above, male',
       'Population ages 65 and above, male (% of male population)',
       'Population ages 65 and above, total',
       'Population ages 65-69, female',
       'Population ages 65-69, female (% of female population)',
       'Population ages 65-69, male',
       'Population ages 65-69, male (% of male population)',
       'Population ages 70-74, female',
       'Population ages 70-74, female (% of female population)',
       'Population ages 70-74, male',

# Group 4 Nomor 1

[link](https://docs.google.com/document/d/1ESGAs-Wpm09spp-fq2w4ggAkvDvNHhbM51dFwBotsig/edit)

In [7]:
country_fertility = df[['Country Name','Indicator Name', '2019']]
country_fertility.loc[country_fertility['Indicator Name'] == 'Fertility rate, total (births per woman)'].sort_values('2019', ascending=False)
country_fertility

,Country Name,Indicator Name,2019
84791,Niger,"Fertility rate, total (births per woman)",6.824
99344,Somalia,"Fertility rate, total (births per woman)",5.978
41132,"Congo, Dem. Rep.","Fertility rate, total (births per woman)",5.819
75530,Mali,"Fertility rate, total (births per woman)",5.785
38486,Chad,"Fertility rate, total (births per woman)",5.649
...,...,...,...
94052,San Marino,"Fertility rate, total (births per woman)",NaN
97580,Sint Maarten (Dutch part),"Fertility rate, total (births per woman)",NaN
101549,St. Kitts and Nevis,"Fertility rate, total (births per woman)",NaN
109928,Turks and Caicos Islands,"Fertility rate, total (births per woman)",NaN
110369,Tuvalu,"Fertility rate, total (births per woman)",NaN

In [17]:
# country_fertility2 = df.groupby(['Country Name','Indicator Name'])['2019'].sum().sort_values(ascending=False)
# # country_fertility2 = country_fertility2.loc[country_fertility2['Indicator Name'] == 'Fertility rate, total (births per woman)'].sort_values( ascending=False)
# country_fertility2

# Nomor 2

In [20]:
diabetes = df[['Country Name','Indicator Name', '2021']]
diabetes = diabetes.loc[diabetes['Indicator Name'] == 'Diabetes prevalence (% of population ages 20 to 79)'].sort_values('2021')
diabetes

,Country Name,Indicator Name,2021
30531,Benin,Diabetes prevalence (% of population ages 20 t...,1.1
53022,"Gambia, The",Diabetes prevalence (% of population ages 20 t...,1.9
116967,Zimbabwe,Diabetes prevalence (% of population ages 20 t...,2.1
57432,Guinea,Diabetes prevalence (% of population ages 20 t...,2.1
57873,Guinea-Bissau,Diabetes prevalence (% of population ages 20 t...,2.1
...,...,...,...
54786,Gibraltar,Diabetes prevalence (% of population ages 20 t...,NaN
68016,Kosovo,Diabetes prevalence (% of population ages 20 t...,NaN
97563,Sint Maarten (Dutch part),Diabetes prevalence (% of population ages 20 t...,NaN
102414,St. Martin (French part),Diabetes prevalence (% of population ages 20 t...,NaN
109911,Turks and Caicos Islands,Diabetes prevalence (% of population ages 20 t...,NaN

# Nomor 3

In [30]:
indonesia = df[['Country Name','Indicator Name', '2016']]
indonesia = overweight.loc[overweight['Indicator Name'] == 'Prevalence of overweight (% of adults)'].sort_values('2016')
overweight

,Country Name,Indicator Name,2016
115005,Vietnam,Prevalence of overweight (% of adults),18.300000
61203,India,Prevalence of overweight (% of adults),19.700000
28569,Bangladesh,Prevalence of overweight (% of adults),20.000000
19308,South Asia (IDA & IBRD),Prevalence of overweight (% of adults),20.741191
18867,South Asia,Prevalence of overweight (% of adults),20.741191
...,...,...,...
102657,St. Martin (French part),Prevalence of overweight (% of adults),NaN
103539,Sudan,Prevalence of overweight (% of adults),NaN
110154,Turks and Caicos Islands,Prevalence of overweight (% of adults),NaN
115446,Virgin Islands (U.S.),Prevalence of overweight (% of adults),NaN
115887,West Bank and Gaza,Prevalence of overweight (% of adults),NaN

# Nomor 4

In [34]:
indonesia = df[['Country Name','Indicator Name', '2020']]
indonesia = indonesia.loc[indonesia['Indicator Name'] == 'Children (0-14) living with HIV']
indonesia = indonesia.loc[indonesia['Country Name'] == 'Indonesia'].sort_values('2020')
indonesia

      Country Name                   Indicator Name     2020
61371    Indonesia  Children (0-14) living with HIV  18000.0

# Nomor 5

In [35]:
dying = df[['Country Name','Indicator Name', '2020']]
dying = dying.loc[dying['Indicator Name'] == 'Probability of dying among children ages 5-9 years (per 1,000)'].sort_values('2020', ascending=False)
dying

,Country Name,Indicator Name,2020
99598,Somalia,Probability of dying among children ages 5-9 y...,16.1
96952,Sierra Leone,Probability of dying among children ages 5-9 y...,15.9
85045,Niger,Probability of dying among children ages 5-9 y...,15.7
38299,Central African Republic,Probability of dying among children ages 5-9 y...,15.7
85486,Nigeria,Probability of dying among children ages 5-9 y...,14.1
...,...,...,...
91660,Puerto Rico,Probability of dying among children ages 5-9 y...,NaN
97834,Sint Maarten (Dutch part),Probability of dying among children ages 5-9 y...,NaN
102685,St. Martin (French part),Probability of dying among children ages 5-9 y...,NaN
110182,Turks and Caicos Islands,Probability of dying among children ages 5-9 y...,NaN
115474,Virgin Islands (U.S.),Probability of dying among children ages 5-9 y...,NaN

Answer #https://wandakinasih.my.canva.site/np95mnbv1sktnp3dn6sma122a2